In [1]:
import pandas as pd
import os
import re


#encontra o arquivo certo na pasta downloads
file = None
li = os.scandir('C:/Users/leona/Downloads')
for x in li:
    if re.search("(redes-competicao)",str(x)): #aqui colocar o nome do relatório do cliente
         file = str(x)

#acerta o nome do arquivo
rep = ["<DirEntry ","'", ">"]
for y in rep:
    file = file.replace(y,"")
    #print(y)      
print(file)

df = pd.read_csv(f'C:/Users/leona/Downloads/{file}',skiprows=2)
df = df.rename(columns={"Pesquisar palavra-chave": "palavrachave",\
                        "Domínio do URL de visualização":"dominio",\
                        "Dia":"dia",\
                        "Parcela de impressões da pesquisa (Informações do leilão)":"parceladeimpressoes",\
                        "Taxa de sobreposição da pesquisa":"taxadesobreposicao",\
                        "Taxa de posição superior":"taxaposicaosuperior",\
                        "Taxa da parte superior da página":"taxapartesuperior",\
                        "Taxa da 1ª posição na página":"taxada1aposicao",\
                        "Parcela de superação da pesquisa":"parcelasuperacao"})

intelbras-redes-competicao.csv

In [6]:
df = df.replace(",",".", regex=True)
df = df.replace("%","", regex=True)
df = df.replace("--",0, regex=True)
df = df.replace("< 10",0, regex=True)
df.head()

,palavrachave,dominio,dia,parceladeimpressoes,taxadesobreposicao,taxaposicaosuperior,taxapartesuperior,taxada1aposicao,parcelasuperacao
0,conversor tp link,baumier.com.br,2022-10-15,14.29,0.00,0,100.00,0.00,14.29
1,switch 48 portas gigabit,xtech.com.br,2022-10-13,28.57,0.00,0,0.00,0.00,14.29
2,switch sfp 24 portas,mercadolivre.com.br,2022-09-29,57.14,100.00,100.00,75.00,0.00,0.00
3,wifi marketing,v4company.com,2022-10-14,66.67,66.67,0.00,75.00,0.00,100.00
4,roteador de teto,Você,2022-10-11,24.32,0,0,88.89,66.67,0

In [9]:
#implementar transformação
df['parceladeimpressoes'] = df['parceladeimpressoes'].astype('float') / 100
df.head()

,palavrachave,dominio,dia,parceladeimpressoes,taxadesobreposicao,taxaposicaosuperior,taxapartesuperior,taxada1aposicao,parcelasuperacao
0,conversor tp link,baumier.com.br,2022-10-15,0.001429,0.00,0,100.00,0.00,14.29
1,switch 48 portas gigabit,xtech.com.br,2022-10-13,0.002857,0.00,0,0.00,0.00,14.29
2,switch sfp 24 portas,mercadolivre.com.br,2022-09-29,0.005714,100.00,100.00,75.00,0.00,0.00
3,wifi marketing,v4company.com,2022-10-14,0.006667,66.67,0.00,75.00,0.00,100.00
4,roteador de teto,Você,2022-10-11,0.002432,0,0,88.89,66.67,0

In [10]:
df.astype({'parceladeimpressoes':'float_'}).dtypes

ValueError: could not convert string to float: '14,29%'

In [6]:
from sqlalchemy import create_engine
engine = create_engine("mysql://guest:123456@35.199.90.161/comp-gads-dash?charset=utf8mb4")

df.to_sql('intelbrasredes', engine, if_exists='append', index=False)
pd.read_sql('intelbrasredes', engine)

OperationalError: (MySQLdb.OperationalError) (1366, "Incorrect decimal value: '14,29%' for column 'parceladeimpressoes' at row 1")
[SQL: INSERT INTO intelbrasredes (palavrachave, dominio, dia, parceladeimpressoes, taxadesobreposicao, taxaposicaosuperior, taxapartesuperior, taxada1aposicao, parcelasuperacao) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)]
[parameters: (('conversor tp link', 'baumier.com.br', '2022-10-15', '14,29%', '0,00%', ' --', '100,00%', '0,00%', '14,29%'), ('switch 48 portas gigabit', 'xtech.com.br', '2022-10-13', '28,57%', '0,00%', ' --', '0,00%', '0,00%', '14,29%'), ('switch sfp 24 portas', 'mercadolivre.com.br', '2022-09-29', '57,14%', '100,00%', '100,00%', '75,00%', '0,00%', '0,00%'), ('wifi marketing', 'v4company.com', '2022-10-14', '66,67%', '66,67%', '0,00%', '75,00%', '0,00%', '100,00%'), ('roteador de teto', 'Você', '2022-10-11', '24,32%', ' --', ' --', '88,89%', '66,67%', ' --'), ('preço roteador wifi', 'amazon.com.br', '2022-10-14', '32,05%', '43,33%', '92,31%', '97,00%', '46,00%', '5,77%'), ('olt 16 portas', 'mercadolivre.com.br', '2022-10-17', '42,11%', '100,00%', '0,00%', '50,00%', '0,00%', '5,26%'), ('EAP 610 Outdoor', 'mercadolivre.com.br', '2022-10-04', '37,50%', '0,00%', ' --', '33,33%', '0,00%', '12,50%')  ... displaying 10 of 55281 total bound parameter sets ...  (' +gabinete +servidor', 'lenovo.com', '2022-10-12', '< 10%', '0,00%', ' --', '100,00%', '0,00%', '7,69%'), ('roteador mesh', 'shopee.com.br', '2022-10-02', '< 10%', '5,00%', '0,00%', '73,33%', '16,67%', '11,98%'))]
(Background on this error at: https://sqlalche.me/e/14/e3q8)